* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

/* Framework */
.grid {
  margin: 0 auto;
  max-width: 75em;
  width: 100%;
}

.row {
  width: 100%;
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: #ff00b4;
}

::selection {
    color: white;
    background: #ff00b4;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

#workExperience,
#projects,
#education,
#map-div {
  padding: 1em;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;
}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}



a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

#skills-h3 {
  color: #f5ae23;
}

.blue {
  background-color: #4f91d2;
}

.green-text {
  color: #00b47b;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #3d424f;
}

/* TODO: Replace with image later */
#header {
  background-color: #3d424f;
}

#header p {
  color: white;
}



#name,
#role {
  color: white;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 300px;
  height: auto;
}

img {
  padding: 10px;
  max-width:100%; 
  height:auto;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
  margin-top: 5%;
  color: white;
}

#projects img {
  max-width: 350px;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 20%;
  }
  .biopic {
    width: 150px;
    display: none;
  }
  .welcome-message {
    display: none;
  }
}

#footerContacts {
  margin-bottom: 0;
}

#map {
  display: block;
  height: 100%;
  /*margin: 0 5%;*/
  margin: 0;
}

#map-div {
  height: 400px;
  width: 100%;
  padding-bottom: 2%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
    margin: 0 auto;
    clear: both;
  }
}